body {
  display:grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: 
    'nav nav nav'
    'empty body empty'
    'footer footer footer';
}
.body {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.nav {
  
}
